numpy
pandas
logzero
smart_open
boto3>=1.21.24
redis
urllib3
snowflake-connector-python
pyarrow==5.0.0
fastparquet
celery
pick
python-dotenv
ftfy
regex
tqdm
pycld2
demoji
detoxify
transformers
better_profanity
urlextract
sacremoses